/* CSS declarations go here */
#content{
	padding-top: 60px;
}

.home-container{
	height: calc(100vh);
	width: 100%;
	background-image: url(/ride-bg-new.jpg);
	background-size: cover;
}

.main-layout{
	position: relative;
	top: calc(50vh - 120px);
}

.white{
	color: #fff !important;
}

.huge{
	font-size: 3em !important;
	text-shadow: 2px 2px 10px black;
}

.offer-ride-container{
	background-color: #F5F5F5;
}

#map-container{
	width: 100%;
	height: calc(50vh);
}

.map-segment{
	margin-top: 40px !important;
}


.ui.center.aligned.header{
	font-size: 60px;
}

/*#hex1 {
  width: 150px;
  height: 150px;
}*/
#color1 {
  background-color: #FF6699;
}

.hexagon-wrapper {
  text-align: center;
  margin: 48px;
  position: relative;
  display: inline-block;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
/*.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
}
.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  backface-visibility: hidden;
  transform: rotateZ(60deg);
}
.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}*/

.own-class{
	color:white;
}
/*#hex2 {
  width: 150px;
  height: 150px;
}*/
.color2 {
  background-color: #66CCFF !important;
}
.hexagon {
	width: 100px;
	height: 55px;
	background: red;
	position: relative;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -24px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #ff6699;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -24px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #ff6699;

}

.hexagon.color2:before {
	content: "";
	position: absolute;
	top: -24px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #66CCFF;
}
.hexagon.color2:after {
	content: "";
	position: absolute;
	bottom: -24px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #66CCFF;

}
.ui.divider.d1{
	height: 200px;
}