<head>
	<meta charset="utf-8">
	<link rel="icon" 
      type="image/png" 
      href="/taxi.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Ryde - Ride Sharing App</title>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAopM9eUD9vR5GU2OcDwLJrMEWrQ0AvIDk&libraries=places,geometry"></script>
</head>
<body>
</body>
<template name="masterLayout">
<div id="nav">
	{{> Template.dynamic template=navbar}}
</div>
<div id="content">
	{{> Template.dynamic template=main}}
</div>
<footer>
	{{> Template.dynamic template=footer}}
</footer>
</template>


<template name="home">
<div class="home-container">
	<div class="ui centered grid main-layout">
		<div class="row">
			<h1 class="ui white center aligned huge header">
			Share Ride. Make Buddies.
			</h1>
		</div>
		<div class="row">
		{{> searchRide}}
		</div>
			<div class="ui horizontal white divider">Or</div>

		<div class="ui row">
			<button class="ui pink labeled icon button offer-ride-btn">
    			Offer a Ride
    			<i class="car icon"></i>
  			</button>
		</div>
	</div>
</div>

<div class="ui segment">
<h1 class="ui center aligned header">
    How to offer a ryde?
  </h1>
</div>

<div class="ui grid">
	<div class="four wide center aligned column">
  		<div id="hex1" class="hexagon-wrapper">
  		<div id="color1" class="hexagon">

  <i class="cloud upload icon huge own-class"></i>
  	</div>
  </div>
    	<h3>PUBLISH</h3>
  		<h4>Choose your source,destination and per seat price and in one single tap publish your ryde.</h4>

  </div>

  <div class="four wide center aligned column">
  	<div id="hex1" class="hexagon-wrapper">
  <div id="color1" class="hexagon">
  <i class="huge phone square icon own-class"></i>
  </div>
  </div>
  <h3>GET REQUESTS</h3>
  <h4>Get requests from passengers around you who are willing to share ryde with you in the same direction.</h4>
  </div>

  <div class="four wide center aligned column">
  	<div id="hex1" class="hexagon-wrapper">
  <div id="color1" class="hexagon">
  <i class=" huge car icon own-class"></i>
  </div>
  </div>
   <h3>PICK AND DROP</h3>
  <h4>Pick your favourite passengers and drop them to their destinations</h4>
  </div>
  <div class="four wide center aligned column">
  	<div id="hex1" class="hexagon-wrapper">
  <div id="color1" class="hexagon">
  <i class="huge money icon own-class"></i>
  </div>
  </div>
  <h3>EARN</h3>
  <h4>When your ryde ends review your passenger,review your passengers and get the money in your account.</h4>
  </div>
</div>
<div class="ui section divider d1"></div>

<div class="ui segment">

<h1 class="ui center aligned header">
    How to book a ryde?
  </h1>
</div>

<div class="ui grid">
	<div class="four wide center aligned column">
  		<div class="hexagon-wrapper hex2">
  		<div id="color2" class="hexagon color2">
  <i class="search icon huge own-class"></i>
  	</div>
  </div>
  <h3>DISCOVER</h3>
  		<h4>Search and getmatched with trusted members of the community who are offering their rydes.</h4>
  </div>

  <div class="four wide center aligned column">
  	<div class="hexagon-wrapper hex2">
  <div class="hexagon color2">
  <i class="huge ticket icon own-class"></i>
  </div>
  
  </div>
  <h3>BOOK</h3>
  <h4>Pay offline and book the number of seats</h4>
  </div>

  <div class="four wide center aligned column">
  	<div class="hexagon-wrapper hex2">
  <div id="color2" class="hexagon color2">
  <i class=" huge users icon own-class"></i>
  </div>
  </div>
   <h3>CONNECT</h3>
  <h4>Simply call the customer and set up your pick up location.</h4>
  </div>

  <div class="four wide center aligned column">
  	<div class="hexagon-wrapper hex2">
  <div id="color2" class="hexagon color2">
  <i class="huge check circle icon own-class"></i>
  </div>
  </div>
  <h3>REVIEW</h3>
  <h4>When your ryde ends review your driver and co-passengers and say thanks.</h4>
  </div>
</div>
</template>

<template name="formPage">
<div class="ui three column centered grid">
	<div class="column">
		{{> atForm}}
	</div>
</div>
</template>



<template name="footer">
<!-- <p>♥ from Devs</p> -->
</template>